<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>


<div class="container">

    <h2>Senior Facilities Agreement</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Facility</th>
            <th>Size(£m)</th>
            <th>Interest(p.a%)</th>
            <th>Purpose</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

</div>

<div class="container">
    <h2>Interest Margin Ratchets</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Facility</th>
            <th>Size(£m)</th>
            <th>Interest(p.a%)</th>
            <th>Purpose</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
</div>

<div class="container">
    <h2>Margin Ratchets</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Facility</th>
            <th>Size(£m)</th>
            <th>Interest(p.a%)</th>
            <th>Purpose</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>


<div class="container">
    <h2>Financial Covenants</h2>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <h3>Cashflow Cover</h3>
                <thead>
                <tr>
                    <th>Relevant Period</th>
                    <th>Ratio</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <h3>Senior Interest Cover</h3>
                <thead>
                <tr>
                    <th>Relevant Period</th>
                    <th>Ratio</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <h3>Interest Cover</h3>
                <thead>
                <tr>
                    <th>Relevant Period</th>
                    <th>Ratio</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <h3>Senior Adjusted Leverage</h3>
                <thead>
                <tr>
                    <th>Relevant Period</th>
                    <th>Ratio</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <h3>Capital Expenditure</h3>
                <thead>
                <tr>
                    <th>Relevant Period</th>
                    <th>Ratio</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <h3>Adjusted Leverage</h3>
                <thead>
                <tr>
                    <th>Relevant Period</th>
                    <th>Ratio</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

</body>

</html>